body {
    text-align: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-color: d3d3d3;
    background-color: 212121;
}

a {
    color: ;
    text-decoration: none;
    font-style: italic;
}
